body {
    background-color: #111;
    color: #00FF00;
    font-family: 'Courier New', monospace;
}

.custom-text {
    border: 2px solid #00FF00;
    padding: 20px;
    margin: 20px 0;
    background-color: #000;
}

.text-spacey::before {
    content: ">";
    animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
    from, to {
        color: transparent;
    }
    50% {
        color: #00FF00;
    }
}


/* Second Half ->  ring#_#Web#_#      */